html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.syntax {
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.syntax > div {
  padding: 0 5%;
  width: 100%;
  flex: 1 1 28%;
}

@media (min-width: 700) {
  .syntax {
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.125rem;
  letter-spacing: 0.035rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 12px;
}

table {
  width: 100%;
}

table td,
table th {
  border-left: 1px solid #a4a4a4;
  padding: 12px;
  text-align: left;
}
table td,
table th {
  border: 0;
  border-bottom: 1px solid #a4a4a4;
}
table th {
  background-color: #d5d5d5;
}
